.nav {
  padding: 50px 0px;
  margin: 0 auto 60px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navContent {
  display: flex;
}

.navLine {
  height: 2px;
  background-color: #95CAD0;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.navItem {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-tower-gray);
}

.activeNavItem {
  color: var(--color-jelly-bean);
}

.navItemDivider {
  position: relative;
  top: 4px;
  margin: 0px 30px;
  height: 15px;
  width: 1px;
  background-color: var(--color-tower-gray);
}

@media only screen and (max-width: 590px) {
  .nav {
    padding: 15px 0px;
    margin: 0 auto 30px auto;
  }

  .navItem {
    font-size: 16px;
  }

  .navLine {
    width: calc(100% - 40px);
    left: auto;
  }

  .navItemDivider {
    top: 0;
  }
}