.header {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-jelly-bean);
  text-align: center;
  border-bottom: 7px solid var(--color-half-baked);
}

@media only screen and (max-width: 768px) {
  .header {
    height: 45px;
  }

  .headerLogoIcon {
    width: 149px;
    height: 16px;
  }
}